@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@200;300;600&display=swap');

$primaryFont : 'Poppins', Arial, Helvetica, sans-serif;
$handFont :'Caveat', cursive, 'Times New Roman', Georgia, serif;

$primaryColor : #EB455F;
$secondaryColor : #2B3467;
$liteBlue : #BAD7E9;
$liteyellow : #FCFFE7;